@font-face {
  font-family: 'Parisienne';
  src: url('/assets/fonts/Parisienne-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
}

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  scroll-behavior: smooth;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #070029;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 0 1.5em 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

.textBalanced {
  text-wrap: balance
}

:root::-webkit-scrollbar {
  width: .6em;
  background: white;
  border-radius: 20px;
}

:root::-webkit-scrollbar-thumb {
  background: #918edf;
  border-radius: 20px;
}
